@using ecommerce.Vm;
@model IQueryable<ecommerce.Vm.BrandsVm>;

@*
    @model IQueryable<ecommerce.Vm.BrandsVm>
    @model List<ecommerce.Vm.BrandsVm>;*@

@{
    ViewData["Title"] = "Brands";
    Layout = "~/Views/Shared/_layout.cshtml";

}

<div class="row mb-5 mt-5">
    <div class="container">
        <div class="alert alert-primary">
            <a href="@Url.ActionLink("Create","Brands")">Create</a>
        </div>

    </div>
</div>
<div class="row mb-5">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Brands Table</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="Brands" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Brand</th>
                            <th>Created at</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var brand in Model)
                        {
                            <tr>
                                <th>@brand.Id</th>
                                <th>@brand.Name</th>
                                <th>@brand.CreateDate</th>
                                <th>View | Edit | Delete</th>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Count : [Counter]</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>